.fav-page.loading
    .spinner-overlay
        .spinner
    .welcome
        .welcome__title(data-translate="welcomeTitle") призовий фонд
        .welcome__prize(data-translate="welcomePrize") 1 000 000 #[span *] ₴
        .welcome__btn.btn.unauth-msg(data-translate="signBtn") Авторизуйся
        .welcome__btn.btn.part-btn.hide(data-translate="partBtn") зробити прогноз
    .info
        .info__title.title(data-translate="infoTitle") Прогнозуй Austin Major 2025
        .info__text(data-translate="infoText") З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
    .drop
        details.dropdown
            summary(data-translate="detailsBtn") Деталі
            .drop-wrap
                .drop-txt
                    .drop-txt-list(data-translate="details")
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
    .predictor
        .predictor__title.title(data-translate="predictorTitle") Зроби свій пікем
        .predictor__tabs
            .predictor__tabs-item._active(data-stage="1") 1 #[span(data-translate="stage") етап]
            .predictor__tabs-item(data-stage="2") 2 #[span(data-translate="stage") етап]
            .predictor__tabs-item(data-stage="3") 3 #[span(data-translate="stage") етап]
            .predictor__tabs-item(data-stage="4") #[span(data-translate="playoff") плей-оф]
        .stage(data-stage="1")
            .timer
            .stage__top
                .stage__card.top-card._open
                    .stage__card-icon
                    .stage__card-btn
                    .stage__card-text(data-translate="chooseTeam") обери команду
                .stage__card.top-card._selected
                    .stage__card-icon
                    .stage__card-btn
                    .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»
            .stage__bottom
                .stage__title(data-translate="stageTitle") команди, які пройдуть
                .stage__wrap
                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

                    .stage__card._win
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._done
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._lose
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._selected
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

        .stage(data-stage="2")
            .timer
            .stage__top
                .stage__card.top-card._open
                    .stage__card-icon
                    .stage__card-btn
                    .stage__card-text(data-translate="chooseTeam") обери команду
                .stage__card.top-card._selected
                    .stage__card-icon
                    .stage__card-btn
                    .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»
            .stage__bottom
                .stage__title(data-translate="stageTitle") команди, які пройдуть
                .stage__wrap
                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

                    .stage__card._win
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._done
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._lose
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._selected
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

        .stage(data-stage="3")
            .timer
            .stage__top
                .stage__card.top-card._open
                    .stage__card-icon
                    .stage__card-btn
                    .stage__card-text(data-translate="chooseTeam") обери команду
                .stage__card.top-card._selected
                    .stage__card-icon
                    .stage__card-btn
                    .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»
            .stage__bottom
                .stage__title(data-translate="stageTitle") команди, які пройдуть
                .stage__wrap
                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

                    .stage__card._win
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._done
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._lose
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._selected
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") Команда «Chinggis Warriors»

                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

                    .stage__card._open
                        .stage__card-icon
                        .stage__card-btn
                        .stage__card-text(data-translate="chooseTeam") обери команду

        .playoff(data-stage="4")
            .playoff__stage(data-playoff-stage="1")
                .playoff__stage-title(data-translate="quarterfinal")
                .playoff__wrap
                    .playoff__choose(data-choose-semifinal="1")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                    .playoff__choose(data-choose-semifinal="1")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                    .playoff__choose(data-choose-semifinal="2")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                    .playoff__choose(data-choose-semifinal="2")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

            .playoff__stage(data-playoff-stage="2")
                .playoff__stage-title(data-translate="semifinal")
                .playoff__wrap
                    .playoff__choose(data-choose-final="1")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                    .playoff__choose(data-choose-final="2")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

            .playoff__stage(data-playoff-stage="3")
                .playoff__stage-title(data-translate="final")
                .playoff__wrap
                    .playoff__choose(data-choose-final="1")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                    .playoff__choose(data-choose-final="2")
                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

                        .playoff__choose-team
                            .playoff__choose-team-icon
                            .playoff__choose-team-text(data-translate="chooseTeam")
                            .playoff__choose-team-btn

            .playoff__stage(data-playoff-stage="4")
                .playoff__stage-title(data-translate="final")
                .playoff__card
                    .playoff__card-icon
                    .playoff__card-btn
                    .playoff__card-text(data-translate="chooseTeam") обери команду
    .drop
        details.dropdown
            summary(data-translate="rulesBtn") Деталі
            .drop-wrap
                .drop-txt
                    .drop-txt-list(data-translate="rules")
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
                        p З 13 червня 2025 року до 16 червня 2025 року роби ставки на матчі з дисципліни «Counter-Strike 2» у межах кіберспортивного турніру «Austin Major 2025» від 300 ₴, а також роби прогнози на кожну стадію турніру та примножуй вже набрані бали.
                        p З 13 червня 2025 року до 1